*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}
 
html,body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(140, 146, 201);
}

#panel{
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: wheat;
    overflow: hidden;
}

#paneltop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 100px;
    background-color: rgb(86, 88, 192);
}

.box{
    padding: 10px 20px;
    background-color: aliceblue;
    border-radius: 5px;
    color: rgb(26, 32, 111);
    font-weight: 700;
    font-size: 20px;
}

.elem{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap:10px;
}

.elem h3{
    font-weight: 600;
}


#panelbtm{
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bubble{
    width: 50px;
    height: 50px;
    background-color: rgb(86, 88, 192);
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.bubble:hover{
    background-color: rgb(62, 64, 181);
    cursor: pointer;
}